.RouteInfo {
  font-weight: 500;
  font-size: 12px;
  margin-top: 20px;
  margin-right: 50px;
  line-height: 21px;
  & span {
    &:first-child {
      text-transform: uppercase;
      color: #a0b0b9;
    }
    &:last-child {
      font-weight: 600;
      font-size: 14px;
      color: #4a4a4a;
    }
  }
}
