.TicketList {
  list-style: none;
  padding: 0;
}

.Loading,
.Error,
.NoResult {
  margin-top: 50px;
  text-align: center;

  padding: 5px;
  border-radius: 5px;
}

.Error {
  background-color: red;
}

.Loading {
  background-color: rgb(33, 150, 243);
  color: #fff;
}

.NoResult {
  background-color: rgb(33, 150, 243);
  color: #fff;
}

.img {
  max-width: 100px;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
